body {
  /* font-family: "Open Sans", sans-serif; */
  font-size: 15px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  background: #00bfff;

  background: linear-gradient(135deg, #00bfff 1%, #0090dc 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#0090dc',GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4efbfe', endColorstr='#3790de', GradientType=1 );
  padding-top: 70px;
  color: #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}

.wrapper {
  display: flex;
  margin-top: 30px;
}

.title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 37px;
  display: block;
  width: 554px;
  line-height: 50px;
}

.title span {
  font-size: 59px;
}

.intro {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: block;
  width: 400px;
  margin-bottom: 45px;
}

.btn {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
  background: #ffd500;
  color: black;
  width: 222px;
  padding: 15px 0;
  border: transparent;
}

.travelIMG {
  position: relative;
  top: -80px;
  right: 0;
}

.objectives {
  padding-top: 113px;
  padding-bottom: 120px;
}

.objectives h2 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

.myObjectives {
  width: 290px;
  text-align: center;
  margin-top: 75px;
}

.objectives_container {
  display: flex;
  justify-content: space-between;
}

.objectives_container p {
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.formToFuture {
  padding-top: 113px;
  background: #eaf3f8;
  padding-bottom: 100px;
}

.formToFuture h2 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

.formToFuture form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
}

.formToFuture input {
  width: 343px;
  height: 48px;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding-left: 24px;
  font-family: "Ubuntu", sans-serif;
}

.dop {
  width: 343px;
}

.footer {
  padding: 60px 0;
  background-color: #004c7c;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
